
@{
    ViewBag.Title = "Empresas";
}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    </head>
    <body>
        <div>
            <h2>Empresas</h2>
            <hr />
            <br />
            <div id="tablaEmpresa">
                <table id="tablaEmpresa" class="display">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Razón Social</th>
                            <th>Nit</th>
                            <th>Dirección</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1 Data 1</td>
                            <td>Row 1 Data 2</td>
                        </tr>
                        <tr>
                            <td>Row 2 Data 1</td>
                            <td>Row 2 Data 2</td>
                        </tr>
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        $('#tablaEmpresa').DataTable();
                    });
                </script>
            </div>
        </div>
    </body>
</html>

